@font-face {
    font-family: Font1;
    src:url('/fonts/Oswald-Bold.woff') format('woff')
}
@font-face {
    font-family: Font2;
    src:url('/fonts/OpenSans-LightItalic.woff') format('woff')
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: white;
}

body {
    font-family: Font1;
    color: white;
    letter-spacing: 1px;
    background-color:black;
}

#header { 
    background: url('../images/header.jpg') no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#about { 
    background: url('../images/about.jpg') no-repeat;
}
#services { 
    background: url('../images/services.jpg') no-repeat;
      position: relative;
}
#testimontials { 
    background: url('../images/testimontials.jpg') no-repeat;
}
#artists { 
    background: url('../images/services.jpg') no-repeat;
}
#map { 
    background: url('../images/services.jpg') no-repeat;
}

#about , #services , #testimontials , #artists , #map { 
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#social-icons { 
    position: fixed;
    left: 0;    
    top: 42%;
    z-index: 1000;
   
}
#insta , #face {
    width: 40px;
    height: 40px;
}

#insta {
    margin-top: 16px;
}

#navbar {
    color: white;
     position: fixed;
    right: 0;    
    top: 40%;
    column-gap: 0;
    z-index: 1000;
}

.active::after {
    content: url('../images/after-focus.png');
    margin-left: 5px;
   vertical-align: -12%;
}

.passive::after {
     content: url('../images/after-nfocus.png');
       margin-left: 5px;
       vertical-align: -12%;
 
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none ;
    color:lightgrey;
}

a:active {
    text-decoration: none;
    color: white;
}

.language {
    margin-top: 50px;
}

.language-frame::after {
    content: '';
    border: 2px solid #DB192D;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: -40px;
    margin-bottom: -15px;
}

#language-oposite {
     padding-top: 13px;
     display:inline-block ;
}


a:visited {
    text-decoration: none;
}

p {
    color: white;
}

#title {
    color: #DB192D;
    font-size: 30px;
    margin-top: 200px;
}
#title:before  {
    content: 'SINCE';
    font-size: 14px;
    color: white;
    margin-right: 20px;
        display: inline-block;
        vertical-align: 30%;
}
#title:after   {
    content: 'MMXVII';
    font-size: 14px;
    color: white;
    margin-left: 20px;
    display: inline-block;
    vertical-align: 30%;
}

.undertitle {
    color: lightgray;
    font-style: italic;
    font-family:  Font2;
}

#info-box {
    border-top: 0.5px solid lightgrey;
       position: absolute;
    bottom: 0;
    left: 0;
}

.center-info-box {
border-right: 0.5px solid lightgrey;
      border-left: 0.5px solid lightgrey;
}
      


.color-red {
    color: #DB192D;
}

.display-none {
    visibility: hidden;
}

.margin-top-info-box {
    margin-top: 21px;
}
.worktime {
    margin-top: -5px;
}

#number-margins {
    margin-top: 1px
}

#margin-x {
    margin-top: 1px;
}
.margin-top-info-box1 {
    margin-top: 21px;
}
#arabeska {
    width: 60px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.italic {
    font-style: italic;
    font-family: Font2;
}

.margin-about {
    margin-top: 10px;
}

.usluge {
    width: 225px;
    height: 225px;
   
}
table {
  border-collapse: separate;
  border-spacing: 50px 0;
}
#tabela {
    margin-top: 260px;;
}
table {
  border-collapse: separate;
  border-spacing: 74px 74px;
}

.vertical-dots {
    width: 70px;
}

#usluge {
  margin-top: 115px;
}

#tetovaze {
    background: url('../images/tetoviranje.jpg') no-repeat; 
     background-size: 100% auto;
    background-size: 50% 50% ;
    background-size: cover;
    background-size:contain;
}
#tetovaze-school {
    background: url('../images/skola-tetoviranja.jpg') no-repeat; 
     background-size: 100% auto;
    background-size: 50% 50% ;
    background-size: cover;
    background-size:contain;
}
#pirsing {
    background: url('../images/pirsing.jpg') no-repeat; 
     background-size: 100% auto;
    background-size: 50% 50% ;
    background-size: cover;
    background-size:contain;
}
#trajna {
    background: url('../images/trajna.jpg') no-repeat; 
     background-size: 100% auto;
    background-size: 50% 50% ;
    background-size: cover;
    background-size:contain;
}
#solarijum {
    background: url('../images/solarijum.jpg') no-repeat; 
     background-size: 100% auto;
    background-size: 50% 50% ;
    background-size: cover;
    background-size:contain;
}
#sminkanje {
    background: url('../images/sminkanje.jpg') no-repeat; 
     background-size: 100% auto;
    background-size: 50% 50% ;
    background-size: cover;
    background-size:contain;
}
#dlaka {
    background: url('../images/dlaka.jpg') no-repeat; 
     background-size: 100% auto;
    background-size: 50% 50% ;
    background-size: cover;
    background-size:contain;
}
#trepavice {
    background: url('../images/svilene.jpg') no-repeat; 
     background-size: 100% auto;
    background-size: 50% 50% ;
    background-size: cover;
    background-size:contain;
}

.click-box {
background: #DB192D;
width: 60px;
height: 30px;
padding-top: 8px;
margin: auto;
}

.click-box-artist {
background: #DB192D;
width: 60px;
height: 30px;
padding-top: 8px;
margin: auto;
margin-top:25px;
}

.margins {
    margin-top: 15px;
    margin-bottom: 30px;
}


#pirs , #teto , #skol , #traj , #sola , #smin , #dlak , #svil {
    position: absolute;
    top: 300px;
    right: 0;
    left: 0;
    margin: auto;
    display:none;
}
#stefan , #danilo , #jelena  {
    margin: auto;
    display:none;
    position: absolute;
    margin-top: 180px;
}

.under-hidden {
    margin-top: 20px;
    
}

.under-hidden1 {
    margin-top: 40px;
    
}

.back {
    width: 30px;
    margin-top: 40px;
}


.undertitle {
    margin-top: 18px;
}

#umetnici {
    margin-top: 80px;
    
}

#artists {
    clear: both;
}


.umetnost {
    width: 300px;
    margin-top: 40px;
}
.umetnosti {
    width: 200px;
    margin-top: 40px;
}

.under-artist {
    margin-top:10px;
}
.margin-little {
    margin-top: 30px;
}

#stefan-image {
    width: 200px;
}

.umetnosti:hover { 
    cursor:  url('../images/zoom.png') 25 25, auto;
    opacity: 0.4;
}

.umetnosti-click {
    width: 100vh;
    height: 100vh;
    z-index: 1005;
    margin-top: 0;
}

#utisci {
    margin-top: 60px;
}

#commas::before {
      content: url('../images/before.png');
}

#mapa {
    margin-top:20px; 
    height: 650px;
    bottom: 0;
}


#logo {
    width: 120px;
    margin-top: 20px;
}

#locat {
    margin-top: 100px;
}

@media screen and (max-width: 990px) {

}